@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); 


.d-md-block {
   padding-bottom: 100px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
   padding-left: 0;
   padding-right: 0;
}

#about-us {
   padding-top: 30px;
}

h1 {
   color: #fff;
   font-family: 'Poiret One', cursive;
}

.btn, .btn-outline-dark {
   margin-top: 30px;
   color: #000000;
   border-color: #000000;
}

#products {
   padding-top: 50px;
}
#products > h2 {
   display: flex;
   justify-content: center;
   text-align: center;
}

#products > div {
   padding-top: 30px;
}

.btn-primary {
   color: #000000;
   background-color: #fff;
   border-width: 2px;
   border-color: #000000;
}

.brands > h2 {
   display: flex;
   justify-content: center;
   text-align: center;
}

#carouselBanner > div > div.carousel-item.active > div > h1 {
   display: flex;
   align-items: flex-end;
}

section:nth-child(6) > h2 {
   display: flex;
   justify-content: center;
   text-align: center;
}